@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* shared color */
.text-primary{
    color: #FD6E0A;
}
.bg-primary{
    background-color: #FFFFFF;
}
.bg-secondary{
    background-color: #FFF8F3;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.btn-primary{
    padding: 10px 17px;
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    border: none;

}
.text-center{
    text-align: center;
}

/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 92px;
}
nav ul{
    display: flex;
    gap: 28px;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 25px;
    font-weight: 800px;
}
nav ul li{
    list-style: none;
}
nav ul li>a{
    text-decoration: none;
    font-size: 14px;
}
/* header section */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-size:contain,510px;
    background-position: top left, bottom right;
}

button > i{
    margin-right: 5px;
}



/* banner section */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 18px 0 112px;
}
.banner-content{
    max-width: 320px;
}
.banner-greetings{
    font-size: 22px;
    
}
.banner-title{
    font-size: 45px;
    font-weight: bold;
    margin: 15px 0;
}
.banner-description{
    font-size: 10px;
    margin: 13px 0;
}
.banner-img{
    width: 290px;
}
/* about me section */

.about-me{
    max-width: 1140px;
    width: 920px;
    padding: 72px 82px;
    margin: 50px auto;
    border-radius: 5px;
}
.section-title{
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}
.section-description{
    font-size: 16px;
    margin: 30px 0;
}
.about-me-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-me .info-item{
    font-weight: bold;
}
.about-me-wrap{
    /* margin: 72px 82px; */
    padding: 8px;
    border: 1px solid black;
    /* border-radius: 2px; */
}

/* skills section start */
.skills-section{
    max-width: 1140px;
    width: 920px;
    margin: 60px auto;
}
.skills-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.skills-container .skills{
    padding: 24px;
    box-shadow: 2px 6px 6px 0 rgba(0, 0, 0,0.06);
    border-radius: 5px;
}
.skills-title{
    margin: 15px 0;
}
.skills-description{
    color: #757575;
}
/* resume section start */

.resume{
    max-width: 1140px;
    width: 920px;
    margin: 60px auto;
}
.resume-sec-title{
    padding: 60px 0;
}
.resume-sec-col-wrap{
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.resume-col-title{
    margin-bottom: 23px;
    color: #474747;
}

.resume-items{
    margin-bottom: 24px;
}
.resume-items .resume-items-title{
    color: #474747;
}
 .resume-items .titel-info{
    color: #757575;
    margin: 10px 0 12px;
    font-size: 18px;
}
.resume-items .resume-items-description{
    color: #757575;
    font-size: 14px;
}

.cv-btn{
    margin-top: 12px;
}

/* footer section start here */
footer{
    padding: 80px 120px;
    margin-top: 30px;

}
 .footer-container{
    max-width: 1140px;
    width: 920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */

 }
 .footer-col{
    width: 50%;
 }
 .footer-col-title{
    font-size: 18px;
    margin-bottom: 16px;
 }
 .footer-description{
    font-size: 14px;
    color: #474747;
    margin: 15px 0;
 }
 .social a>img{
    width: 20px;
    margin-right: 12px;
 }
 .footer-col > input,textarea{
    display: block;
    width: 232px;
    padding: 12px;
    margin-bottom: 16px;
    border: none;
    border-radius: 5px;
    
 }
 .footer-col > input,textarea::placeholder{
    color: #757575;
    font-size: 14px;
 }
 .footer-col >textarea{
    height: 90px;
 }




.hide{
    display: none;
}

 /* RESPONSIVE START */

 /* For mobile */

@media screen and (max-width:576px) {
     nav > ul{
        flex-direction: column;
        justify-content: start;
        margin-left: 20px;
        margin-top: 50px;
    }
    nav{
        padding-top: 25px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    nav .nav-title {
        font-size: 32px;
    }

    /* header section */
    .header{
        background-size: 5em, cover;
        background-position: top left, center;
    }
    
    

    .banner{
        flex-direction: column-reverse;
        justify-content: flex-start;
        margin: 60px auto ;
        margin-bottom: 50px;
        padding: 20px;
    }
    .banner-content{
        margin-top: 20px;
        width: 100%;
    }
    .banner-greetings{
        font-size: 25px;
        
    }
    .banner-title{
        font-size: 35px;
        font-weight: bold;
        margin: 15px auto;
    }
    .banner-description{
        font-size: 16px;
        margin: 20px 0;
    }
    .banner-img{
     width: 90%;
    }
    .banner-btn-wrap{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    

   
    

    
} 








 /* ===========================================
                    THE END 
    ===========================================*/